
  body {
    font-family: "Roboto", sans-serif;
    line-height: 1.9;
    color: #730000;
    position: relative;
    background-image: url('../../images/contact.webp');
    background-size: cover;
    background-position: center;
  }

  h3 {
    font-size: 12vw;
    font-family: Nabla;
    color: #fff;
  }

  .text-black {
    color: #000;
  }

  .content {
    padding: 7rem 0;
  }

  .heading {
    font-size: 2.5rem;
    font-weight: 900;
  }

  .form-control {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    height: 45px;
    background-color: #f8f9fa;
    transition: border-color 0.3s;
  }

  .form-control:focus {
    outline: none;
    border-color: #DB0000;
  }

  .btn, .form-control, .custom-select {
    height: 45px;
    border-radius: 5px;
    font-size: 14px;
  }

  .btn.btn-primary {
    background: rgb(255, 0, 0);
    color: #fff;
    padding: 15px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
  }

  .btn:hover {
    background-color: #DB0000;
    color: #fff;
  }

  .contact-wrap {
    -webkit-box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.2);
  }

  .contact-wrap .form, .contact-wrap .contact-info {
    padding: 40px;
    border-radius: 8px;
  }

  .contact-wrap .form {
    background: #fff;
    margin-right: 30px;
  }

  .contact-wrap .contact-info {
    background: #000;
    color: rgba(255, 255, 255, 0.5);
    padding-left: 40px;
  }

  .contact-wrap .contact-info ul li {
    margin-bottom: 15px;
    color: rgba(255, 255, 255, 0.5);
  }

  .contact-wrap .contact-info ul li .wrap-icon {
    font-size: 20px;
    color: #fff;
    margin-top: 5px;
  }

  .contact-wrap .form h3 {
    color: #000;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: bold;
  }

  .required-label::after {
    content: ' *';
    color: red;
    font-weight: bold;
  }

  textarea.form-control {
    box-shadow: none;
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 150px;
    resize: vertical;
  }

  .contact-form .form-group {
    margin-bottom: 1.5rem;
  }

  .contact-form .row {
    margin-bottom: 2rem;
  }

  .form-group label {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .form-group input, .form-group textarea, .form-group select {
    width: 100%;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background: #f8f9fa;
    font-size: 14px;
  }

  .form-group input:focus, .form-group textarea:focus {
    border-color: #DB0000;
    outline: none;
  }