<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ticket Reservation Confirmation</title>
  <link rel ="icon" href="{% static 'assets/favicon.ico' %}" type="image/x-icon">
  <link rel="stylesheet" href="{% static 'assets/css/confirmation.css' %}">
</head>
<body>
  <canvas id="confetti-canvas"></canvas>

  <div class="confirmation-container">
    <h1 class="success-message">Reservation Confirmed!</h1>
    <p class="description">Thank you for reserving your tickets. Below are the details of your reservation:</p>

    <table class="reservation-details">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Number of Tickets</th>
          <th>Seats</th>
          <th>Cinema</th>
          <th>Movie</th>
        </tr>
      </thead>
      <tbody id="reservation-data">
        <tr>
          <td>{{ reservation_details.name }}</td>
          <td>{{ reservation_details.family_name }}</td>
          <td>{{ reservation_details.num_tickets }}</td>
          <td>
            <ul>
              {% for seat in reservation_details.seats %}
                <li>{{ seat }}</li>
              {% endfor %}
            </ul>
          </td>
          <td>{{ reservation_details.cinema }}</td>
          <td>{{ reservation_details.movie }}</td>
        </tr>
      </tbody>
    </table>

    <a href="{% url 'download_ticket' %}?name={{ reservation_details.name }}&family={{ reservation_details.family_name }}&num_tickets={{ reservation_details.num_tickets }}&seats={{ reservation_details.seats|join:', ' }}&cinema={{ reservation_details.cinema }}&movie={{ reservation_details.movie }}" class="pdf-button">
      Download PDF
    </a>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.6.0/dist/confetti.browser.min.js"></script>
  <script src="{% static 'assets/js/confirmation.js' %}"></script>
  <script id="reservation-data-json" type="application/json">
    {{ reservation_details|safe }}
  </script>
</body>
</html>

